/auto/
*.tex
/.#cards.org
/TODO.org~
/cards.html~
/cards.tex~
/Image.org~
/Lexer.org~
/Parser.org~
*.*~
/Driver.org~
/ScriptEvaluatorUML.org~
/ScriptingLanguageSpecification.html~
/ScriptingLanguageSpecification.txt~
/ScriptingLanguageSpecification.tex
/TODO.tex
/Driver.tex
