/auto/
*.tex
/.#cards.org
/TODO.org~
/cards.html~
/cards.tex~
/Image.org~
/Lexer.org~
/Parser.org~
*.*~
/Driver.org~
/ScriptEvaluatorUML.org~
/ScriptingLanguageSpecification.html~
/ScriptingLanguageSpecification.txt~
/ScriptingLanguageSpecification.tex
/TODO.tex
/Driver.tex
/Builder/#ConsBuilder.org#
/Builder/.#ConsBuilder.org
/Builder/.#ListBuilder.org
/Structure_UML/#Driver.org#
/Builder/#BuilderConstruction.org#
/Builder/#LayoutBuilderVisiter.org#
/Builder/#StringConcatBuilder.org#
/Builder/.#BuilderConstruction.org
/Builder/.#LayoutBuilderVisiter.org
/Builder/.#StringConcatBuilder.org
/cards.txt
/Builder/#NumberOperationBuilder.org#
/Builder/.#NumberOperationBuilder.org
